.nav {
 width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

header {
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding-top: 20px;
}

#logo {
  width: 150px;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.exiedBtn {
  width:70px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.exiedBtn:hover {
  transform: scale(1.1);
  rotate: 180deg;
}

.exiedBtnMeidaScreen {
  display: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.exiedBtnMeidaScreen:hover {
  transform: scale(1.1);
}

#cartImg {
   width:30px;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#cartImg:hover {
  transform: scale(1.1);
}

@media (max-width: 650px) {
  .nav {
    padding-top: 10px;

  }
  #logo {
  width: 100px;
}
.exiedBtn {
  width:50px;

}
#cartImg {
   width:20px;

}
}

