<link rel="stylesheet" href="/components/header/header.css" />

<nav class="nav">
  <header>
    <a href="../../index.html">
      <img id="logo" src="/Assets/Header/logo.png" alt="logo" />
    </a>

    <div class="cart">
      <a href="../Cart/cart.html">
        <img id="cartImg" src="/Assets/Header/cart.png" alt="cart"
      /></a>
      <img
        class="exiedBtn"
        src="/Assets/Header/menuBtnWhite.png"
        alt="exiedBtn"
      />
      <img
        class="exiedBtnMeidaScreen"
        src="Assets/iconHeaderMedia.png"
        alt=""
      />
    </div>
  </header>
</nav>
