* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}
html {
  font-size: 16px;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: linear-gradient(180deg, #ff7b78, #680c0c);
  border-radius: 35px;
}
.nav {
  width: 100%;
 
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
}
header {
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#logo {
  width: 8rem;
  margin-left: 40px;
}

.search {
  border: 1px solid rgb(116, 116, 116);
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border-radius: 15px;
}
.search:hover {
  border: 1px solid rgb(238, 89, 89);
}
.search input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.5rem;
  background: transparent;
  border-radius: 15px;
  border-left: none;
  padding-left: 13px;
}
.search input:focus {
  outline: none;
}
.search img {
  width: 1.5rem;
  margin-right: 6%;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-right: 20px;
}

.exiedBtn {
  width: 3.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.exiedBtn:hover {
  transform: scale(1.1);
  rotate: 180deg;
}
.exiedBtnMeidaScreen {
  display: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.exiedBtnMeidaScreen :hover {
  transform: scale(1.1);
}
#cartImg {
  width: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#cartImg:hover {
  transform: scale(1.1);
}

main {
  width: 100%;
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.imgBGhome{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.imgBGhome img{
  width: 90%;
  object-fit: contain;
  border: 1px solid rgb(0, 255, 76);

}



@media (max-width: 1400px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 13px;
  }
  .cardLeft p {
    color: rgb(133, 133, 133);
  }
  .search {
    width: 18rem;
  }
}
@media (max-width: 890px) {
  html {
    font-size: 12px;
  }

  .search {
    width: 15rem;
  }
}
@media (max-width: 750px) {
  html {
    font-size: 11px;
  }

  .search {
    width: 14rem;
  }
}
