* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}

html {
  font-size: 16px;
}
/* Entire scrollbar */
::-webkit-scrollbar {
  width: 12px; /* vertical scrollbar */
  height: 12px; /* horizontal scrollbar */
}

/* Track (the background) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #292929;
  border-radius: 10px;
  transition: 0.3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: linear-gradient(180deg, #ff7b78, #680c0c);
  border-radius: 30px;
}

.homePage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.nav {
  width: 96%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#logo {
  width: 8rem;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.exiedBtn {
  width: 3.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.exiedBtn:hover {
  transform: scale(1.1);
  rotate: 180deg;
}

.exiedBtnMeidaScreen {
  display: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.exiedBtnMeidaScreen :hover {
  transform: scale(1.1);
}

#cartImg {
  width: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#cartImg:hover {
  transform: scale(1.1);
}

.mainHome {
  width: 100%;
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
}

.imgBGhome {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgBGhome img {
  width: 90%;
  object-fit: contain;
}

.ProductPage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  flex-direction: column;
}
.ProductPage h2 {
  font-size: 2rem;
  color: #680c0c;
  margin-bottom: 1rem;
}
.product {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  padding-top: 1rem;

  border-radius: 30px;
}

.leftProduct {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.topCardsLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.botCardsLeft {
  display: flex;
  align-items: center;
  justify-content: start;

  overflow: hidden;
}

.rightProduct {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.RightRightProduct {
  display: flex;
  align-items: center;
  justify-content: center;
}

.LeftRightProduct {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.card {
  position: relative;
  width: 41rem;
  height: 20rem;
  overflow: hidden;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 30px;
}
.topCardsLeftWidth {
  width: 20rem;
  height: 20rem;
}
.RightRightProductWidth {
  width: 20rem;
  height: 41rem;
}
.LeftRightProductWidth {
  width: 20rem;
  height: 20rem;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
}
.btnAddToCart {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 10rem;
  transform: translateX(-50%);
  padding: 10px 15px;
  background-color: #000000;
  color: white;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  text-decoration: none;
  text-align: center;
  transition: 0.3s ease;
  font-weight: 600;
}

.card:hover .btnAddToCart {
  opacity: 1;
  pointer-events: auto;
}
.card img:hover {
  filter: blur(5px);
  transform: translateX(5%) scale(1.1);
}
.btnAddToCart:hover {
  background-color: #ffffff;
  color: black;
}

footer {
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;

  flex-direction: column;

  margin-top: 40px;
}
.MainFooter {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #000000, #000000);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 20px;
}
.MainFooter h2 {
  color: #ffffff;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.footerLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.footerLinks a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}
.footerLinks a:hover {
  color: #ff8484;
}
.MainFooter p {
  color: #ff8484;
  font-size: 1rem;
  margin-top: 1rem;
}

@media (max-width: 1500px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 1300px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 11px;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 14px;
  }
  .ProductPage {
    height: 100%;
  }
  .product {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
  .MainFooter p {
    font-size: 1.5rem;
  }
  .footerLinks a {
    font-size: 1.5rem;
  }
}

@media (max-width: 580px) {
  html {
    font-size: 11px;
  }
  .nav {
    padding-top: 10px;
  }

  #logo {
    width: 10rem;
  }
  .cart {
    gap: 20px;
  }
  .exiedBtn {
    width: 5rem;
  }
  #cartImg {
    width: 2.5rem;
  }
  .MainFooter p {
    font-size: 1.8rem;
  }
  .footerLinks a {
    font-size: 1.6rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 9px;
  }
  #logo {
    width: 10rem;
  }
  .cart {
    gap: 15px;
  }
  .exiedBtn {
    width: 5rem;
  }
  #cartImg {
    width: 2.5rem;
  }
  .MainFooter p {
    font-size: 1.5rem;
  }
  .footerLinks a {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 8px;
  }
  #logo {
    width: 12rem;
  }
  .cart {
    gap: 15px;
  }
  .exiedBtn {
    width: 5rem;
  }
  #cartImg {
    width: 2.5rem;
  }
  .footerLinks a {
    font-size: 1.5rem;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 7px;
  }
}
