* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}

section {
  height: 96vh;

  display: flex;
  flex-direction: column;

  margin: 15px;
}

.page {
  background-image: url(/Assets/bgImg.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

header {
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#logo {
  width: 20%;
  margin-left: 30px;
}

.search {
  border: 1px solid rgb(116, 116, 116);
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  border-radius: 15px;
}
.search:hover {
  border: 1px solid rgb(238, 89, 89);
}
.search input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 20px;
  background: transparent;
  border-radius: 15px;
  border-left: none;
  padding-left: 13px;
}
.search input:focus {
  outline: none;
}
.search img {
  width: 7%;
  margin-right: 6%;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-right: 10%;
}

.cart img {
  width: 3vw;
}
#cartImg {
  width: 3vw;
}

header img {
}

.search {
}

.search input {
}

.cart {
}

.cart a img {
}

main {
  height: 90%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.left {
  flex: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardLeft {
  margin-bottom: 80px;
  height: 650px;
  width: 450px;
  background-color: #ff423c;
  border-radius: 30px;
  display: flex;
  position: relative;
  justify-content: center;
}
#Charts {
  height: 60%;
  width: 33%;
}
#mainChose {
  display: block;
  position: absolute;
  width: 85%;
  margin-top: 20%;
  align-self: center;
  transition: 0.3s ease;
  border: 1px solid black;

  border: none;
}
.shoe-shadow {
  width: 50%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.212); /* شادو أحمر ناعم */
  border-radius: 50%;
  filter: blur(10px);
  position: absolute;
  bottom: 18%; /* حسب مكان الجزمة */
  left: 60%;
  transform: translateX(-50%);
  z-index: 0;
}
#mainChose:hover {
  transform: scale(1.1);
}
.left button {
  border: none;
  background-color: rgb(0, 0, 0);
  width: 15%;
  height: 10%;
  display: block;
  position: absolute;
  top: 7%;
  border-radius: 18px;
  right: 7%;
  transition: 0.3s ease;
}
.left button:hover {
  transform: scale(1.1);
}
.left button img {
  width: 50%;

  color: white;
}

.middle {
  flex: 3;
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  overflow: auto;
}
.middleContainer {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  height: 100%;
}

.topMiddle {
  padding-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: s;
  justify-content: center;

  overflow: hidden;
}

.topMiddle h2 {
  font-size: 3vw;
  color: #ff423c;
}

.topMiddle p {
  color: #000000c2;
  font-size: 1vw;

  width: 80%;
}

.btnDiscount {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.btnDiscount span {
  font-size: 2vw;
  font-weight: 600;
  color: rgb(75, 75, 75);
  flex: 1;
}

.btnDiscount button {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-arounds;
  gap: 10%;
  padding: 2%;
  border-radius: 6px;
  background-color: #fd7874;
  color: white;
  font-size: 1vw;
  border: none;
  transition: 0.3s ease;
  width: 60%;
}
.btnDiscount button:hover {
  background-color: #ff4942;
}

.btnDiscount button img {
  width: 10%;
}

.colorChose {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
  width: 100%;
}

.colorChose img {
  width: 5%;
}

.botMiddle {
  gap: 10px;
  height: 10%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.listSizes {
  display: flex;
  align-items: center;
  justify-content: start;
}

.listSizes ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  border: 1px solid rgb(190, 190, 190);
  padding: 13px;
  border-radius: 18px;
  width: 100%;
  gap: 20px;
  margin-top: 20%;
}

.listSizes li {
  font-size: 3vh;
  color: rgb(85, 85, 85);
  cursor: pointer;
  text-align: center;
}
.checkedSize {
  background-color: #fd7874;
  border-radius: 12px;
}
.productSelectors {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;
}

.productSelectors img {
  width: 13vh;
}

.right {
  flex: 1;

  height: 100%;
}

.right button {
}

.right button img {
}

.right div {
}

.right div span {
}

.active {
  color: white !important;
  background-color: rgb(255, 0, 123);
  border-radius: 12px;
  width: 50px;
  font-weight: bold;
}
/* ✅ موبايل صغير جدًا */
@media (max-width: 480px) {
  /* Example */
  .cardLeft {
    display: none;
  }
}

/* ✅ موبايل متوسط */
@media (min-width: 481px) and (max-width: 767px) {
  .cardLeft {
    margin-bottom: 10px;
    height: 80%;
    width: 60%;
  }
  #logo {
    max-width: 50px;
    margin-left: 20px;
    margin-top: 10px;
  }

  body {
  }
}

/* ✅ تابلت */
@media (min-width: 768px) and (max-width: 991px) {
  .cardLeft {
    margin-bottom: 30px;
    height: 70%;
    width: 60%;
  }

  #logo {
    width: 110px;
    max-width: 200px;
    margin-left: 30px;
    margin-top: 20px;
  }
}

/* ✅ لابتوب */
@media (min-width: 992px) and (max-width: 1199px) {
  .cardLeft {
    margin-bottom: 50px;
    height: 70%;
    width: 60%;
  }

  #logo {
    width: 110px;
    max-width: 200px;
    margin-left: 30px;
    margin-top: 20px;
  }
}

/* ✅ ديسكتوب كبير */
@media (min-width: 1200px) {
  .cardLeft {
    margin-bottom: 60px;
    height: 80%;
    width: 60%;
  }

  #logo {
    width: 8%;
    margin-left: 2%;
    margin-top: 2%;
  }
}

.colorImg.activeColor {
  border: 2px solid #000;
  border-radius: 5px;
}
