* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 15px;

 
}

.page {
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  background-image: url(/Assets/bgImg.png);
  display: flex;
   justify-content: center;
   flex-direction: column;
  align-items: start;
  
}
  .nav{
    border: orange 3px solid ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
header {
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 5px solid green;
  width: 100%;
}

#logo {
  width: 8rem;
  margin-left: 35px;
}

.search {
  border: 1px solid rgb(116, 116, 116);
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border-radius: 15px;
}
.search:hover {
  border: 1px solid rgb(238, 89, 89);
}
.search input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.5rem;
  background: transparent;
  border-radius: 15px;
  border-left: none;
  padding-left: 13px;
}
.search input:focus {
  outline: none;
}
.search img {
  width: 7%;
  margin-right: 6%;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-right: 20px;
}

.exiedBtn {
  width: 3.5rem;
}
.exiedBtnMeidaScreen {
  display: none;
}
#cartImg {
  width: 1.5rem;
}

header img {
}

.search {
}

.search input {
}

.cart {
}

.cart a img {
}

main {
  height: 90%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  border: 5px solid black;
}

.left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 5px solid green;
  padding-right: 20px;
  padding-left: 20px;
}
.cardLeft {
  height: 38rem;
  width: 27rem;
  background-color: #ff423c;
  border-radius: 30px;
  display: flex;
  position: relative;
  justify-content: center;
}
#Charts {
  height: 60%;
  width: 33%;
}
#mainChose {
  display: block;
  position: absolute;
  width: 85%;
  margin-top: 20%;
  align-self: center;
  transition: 0.3s ease;
  border: 1px solid black;

  border: none;
}
.shoe-shadow {
  width: 50%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.212); /* شادو أحمر ناعم */
  border-radius: 50%;
  filter: blur(10px);
  position: absolute;
  bottom: 18%; /* حسب مكان الجزمة */
  left: 60%;
  transform: translateX(-50%);
  z-index: 0;
}
#mainChose:hover {
  transform: scale(1.1);
}
.left button {
  border: none;
  background-color: rgb(0, 0, 0);
  width: 13%;
  height: 9%;
  display: block;
  position: absolute;
  top: 4%;
  border-radius: 18px;
  right: 6%;
  transition: 0.3s ease;
}
.left button:hover {
  transform: scale(1.1);
}
.left button img {
  width: 1.6rem;

  color: white;
}

.middle {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;

  flex-direction: column;
  height: 100%;
  gap: 20px;
  border: 1px solid red;
  padding-left: 40px;
}

.topMiddle {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  height: 50%;
}

.topMiddle h2 {
  font-size: 4rem;

  color: #ff423c;
}

.topMiddle p {
  color: #000000c2;
  font-size: 1.3rem;

  width: 80%;
}

.btnDiscount {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: start;
}

.btnDiscount span {
  font-size: 2.5rem;
  font-weight: 600;
  color: rgb(75, 75, 75);
  flex: 1;
}

.btnDiscount button {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: start;
  gap: 0.7rem;
  padding: 0.3rem;
  border-radius: 13px;
  background-color: #ff8986;
  color: white;
  font-size: 1.2rem;
  border: none;
  transition: 0.3s ease;
}
.btnDiscount button:hover {
  background-color: #ff4942;
}

.btnDiscount button img {
  width: 3rem;
  border-radius: 13px;
}

.colorChose {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  width: 100%;
}

.colorChose img {
  width: 3rem;
}

.botMiddle {
  gap: 10px;

  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  border: 1px solid red;
  height: 50%;
}

.listSizes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30rem;
}

.listSizes ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  border: 1px solid rgb(211, 211, 211);
  padding: 13px;
  border-radius: 18px;
  width: 100%;
  gap: 20px;
  height: 6rem;
}

.listSizes li {
  font-size: 1.8rem;
  color: rgb(85, 85, 85);
  cursor: pointer;
  text-align: center;
  transition: 0.1s ease;
  width: 3.5rem;
  border-radius: 12px;
}
.active {
  color: white !important;
  background-color: #ff8986;

  font-weight: bold;
}
.productSelectors {
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;
}
.productImgSelectors {
  width: 7rem;
  height: 7rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.productImgSelectors img {
  height: 8rem;

  background-size: cover;
}

/* .right {
  height: 100%;

  background: linear-gradient(to right, #fff1f0, #ffffff);
  border-radius: 40px 0px 0px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.rightContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.right button {
  width: 10rem;
  height: 10rem;
  background: #ffffff;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 10px 15px -10px rgb(99, 99, 99);
}
.rightButtonRed {
  background: #ff423c !important;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.rightButtonRed img {
  background: #ff423c;
}
.rightButtonRed span {
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
.right button img {
  width: 3.5rem;
}

.ratingContainer div {
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  border: 5px solid red;
}
.ratingContainer {
  width: 10rem;
  height: 10rem;
  border: 5px solid rgb(0, 204, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right div span {
} */

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  html {
    font-size: 9px;
  }
  section {
    height: 100%;
    
  }

  header{
    width: 90%;
    justify-content: space-between;
    align-items: center;
    border: 2px solid green;
    
  }
  #logo {
    margin-left: 0px;
  }
  .search {
    display: none;
  }

  .cart {
    gap: 10px;
    border: 2px solid black;
    margin-right: 0px;
  }
  .exiedBtn {
    display: none;
  }
  .exiedBtnMeidaScreen {
    display: block;
    width: 3.5rem;
  }
  .cart {
    padding-right: 0px;
  }
  .page {
    background-image: none;
    background: linear-gradient(to bottom, #ff8986, #ffffff);
    height: 100%;
    border-radius: 25px;
    
  }
  main {
    flex-direction: column;
    margin-top: 40px;
  }
  .left{
    margin-bottom: 30px;
  }
  .middle{
      padding-left: 0px;
         width: 90%;


  }
  .botMiddle {
      

  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Styles for small devices */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Styles for tablets */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Styles for desktops */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* Styles for large desktops */
}

/* Extra extra large devices (very large screens, 1400px and up) */
@media (min-width: 1400px) {
  /* Styles for very large screens */
}
