* {


  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

section {
  height: 96vh;
  border: 1px solid rgb(0, 17, 255);

  display: flex;
  flex-direction: column;

  margin: 15px;

}

.page{
  background-image: url(/Assets/bgImg.png);
  background-size: contain ;
  background-repeat: no-repeat;
  height: 100%;
  
}


header {
  border: 1px solid rgb(0, 102, 255);
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}
#logo{
  width: 110px;
  border: 1px solid rgb(0, 102, 255);
  margin-left: 30px;

}

.search{
  border: 1px solid rgb(116, 116, 116);
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 15px;
}
.search:hover{
  border: 1px solid rgb(238, 89, 89);

}
.search input{
  width: 100%;
  height: 100%;
  border: none;
  font-size: 20px;
  background: transparent;
  border-radius: 15px;
  border-left: none;
  padding-left: 13px;
   

}
.search input:focus{
  outline: none;
}
.search img{
  width: 15px;
  margin-right: 20px;
}


.cart{
  border: 1px solid rgb(0, 102, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-right: 30px;
}

.cart img{
  width: 55px;
}
#cartImg{
  width: 30px;
}

header img {}

.search {}

.search input {}

.cart {} 

.cart a img {}

main {
  border: 1px solid red;
  
  height: 90%;
  
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}

.left {
  border: 1px solid red;
  flex: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
   
}
.cardLeft{
  border: 1px solid red;
  margin-bottom: 80px;
  height:600px;
  width:  400px;
  background-color: #FF423C;
  border-radius: 15px;
  display: flex;
  position: relative;
  justify-content: center;


}
#Charts{
  height: 60%;
  width: 35%;
}
#mainChose{
  display: block;
  position: absolute;
  width: 85%;
  margin-top:40%;
  align-self: center;
  transition: 0.3s ease;
  border: 1px solid black;

}
#mainChose:hover{
  transform: scale(1.1);

}
.left button{
  border: none;
  background-color: rgb(0, 0, 0);
  width: 15%;
  height: 8.5%;
  display: block;
  position: absolute;
  top: 10px;
  border-radius: 13px;
  right: 10px;
  transition: 0.3s ease;
 

}
.left button:hover{
  transform: scale(1.1);
}
.left button img{
  width: 45%;
  
  color: white;
}

.middle {
    border: 1px solid red;
   flex: 3;
display: flex;
align-items: center;
justify-content: center;
  height: 100%;
  flex-direction: column;
  
}

.topMiddle {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    flex: 1;
    width: 100%;


}

.topMiddle h2 {
 color: #FF423C;
 font-size: 45px;
 
}

.topMiddle p{
  color: #000000c2;
  border: 1px solid red;
}

.btnDiscount {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.btnDiscount span {}

.btnDiscount button {}

.btnDiscount button img {}

.colorChose {}

.colorChose a {}

.botMiddle {
    border: 1px solid red;
    flex: 1;
    width: 100%;

  
}

.listSizes {}

.listSizes ul {}

.listSizes li a {}

.productSelectors {

}

.productSelectors img {
  width: 100px;
}

.right {
    border: 1px solid red;
    flex: 1;

  height: 100%;
}

.right button {}

.right button img {}

.right div {}

.right div span {}



